*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
body{
    background: #333E4A;
}

header{
    width: 60px;
    margin: 20px;
}

.container{
    margin: 20px auto;
    max-width: 1000px;
    width: auto;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.info{
    max-width: 500px;
    width: auto;
    background: #333E4A;
    height: 500px;
    margin-right: 30px;
}

.form{
    max-width: 500px;
    width: auto;
    background: #333E4A;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 30px;
}
.bloco{
    width: 450px;
    display: flex;
    flex-direction: column;
}
input{
    width: 100%;
    height: 30px;
    margin-bottom: 30px;
    background-color: #333E4A;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom-color: #9163CC;
    outline: none;
    font-size: 16px;
}
label{
    text-align: start;
    color: black;
    font-size: 18px;
}
.botao_e_resultado{
    display: flex;
}
button{
    border-radius: 12px;
    width: 120px;
    height: 40px;
    border: none;
    background-color: #9163CC;
    margin-right: 40px;
    font-size: 18px;
    outline: none;
}

button:active{
    background-color: #0E0E0E;
    color: #9163CC;
}

h1{
    color: #9163CC;
}

.texto{
    margin-top: 70px;
    margin-bottom: 50px;
}

h1{
    color: #9163CC;
}

a:hover{
    opacity: 0.5;
}